venv
.venv
**/migrations
**/staticfiles
**/media
db.sqlite3
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/*.pyz
**/*.pyw
.idea
/media
/.idea
**.sqlite3
**.idea
**.idea/*
**.idea/vcs.xml

.idea
.idea/vcs.xml
